footer {
  background-color: var(--light-tertiary-color);
}

footer .footer__content {
  text-align: center;
  padding: 6rem 2rem 1rem;
  max-width: 47rem;
}

footer .footer__content .footer__contact span {
  display: block;
  font-weight: 500;
}

footer .footer__content ul li {
  display: inline-block;
}

footer .footer__content ul a {
  display: inline-block;
  padding: 1rem;
}

footer .footer__content .footer__copyright {
  font-size: 1.4rem;
  
}

footer .footer__copyright{
  padding: 4rem;
  text-align: center;
}

#contact-form {
    background: #ddb0a2;
    padding: 20px;
    margin: 20px 0;
  }
  #contact-form h2 {
    margin-top: 0;
  }
  #contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  #contact-form button {
    background: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
  }
